<div id="map" style="height: 1000px;"></div>

<script>
    var coordinates = {{ site.data.bus_objects | jsonify }};
    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    map.locate({setView: true, maxZoom: 16});

    function onLocationFound(e) {
        var radius = e.accuracy / 2;
        L.circle(e.latlng, radius).addTo(map);
    }

    map.on('locationfound', onLocationFound);

    function onLocationError(e) {
        alert(e.message);
    }

    map.on('locationerror', onLocationError);

    
    

    // Add markers for each item in coordinates
    var services = []; // Initialize an array to store string values for all operators

    for (var key in coordinates) {
        for (var i = 0; i < coordinates[key].length; i++) {
            var date = new Date(coordinates[key][i]['recordedAtTime']);
            const POPUP_STRING = `
                Operator: ${coordinates[key][i]['operatorRef']}
                <br>
                Service: ${coordinates[key][i]['lineRef']}
                <br>
                Vehicle: ${coordinates[key][i]['vehicleRef']}
                <br>
                Origin: ${coordinates[key][i]['originName'].replaceAll('_', ' ')}
                <br>
                Destination: ${coordinates[key][i]['destinationName'].replaceAll('_', ' ')}
                <br>
                Recorded at: ${date.toLocaleTimeString()}
            `;

            // Create a custom div icon with the service number
            var customIcon = L.divIcon({
                className: 'custom-icon',
                html: `<div class="service-number" style="background-color: ${coordinates[key][i]['directionRef'] === 'INBOUND' ? '#2ecc71' : '#f1c40f'}; border: 2px solid black; border-radius: 50%; width: 30px; height: 30px; display: flex; justify-content: center; align-items: center;"><b>${coordinates[key][i]['directionRef'] === 'OUTBOUND' ? '<' : ''}${coordinates[key][i]['lineRef']}${coordinates[key][i]['directionRef'] === 'INBOUND' ? '>' : ''}</b></div>`
            });

            var marker = L.marker(
                [coordinates[key][i]['vehicleLocation'].latitude, coordinates[key][i]['vehicleLocation'].longitude],
                {
                    icon: customIcon,
                    tags: [coordinates[key][i]['lineRef']]
                })
                .bindPopup(POPUP_STRING)
                .on('click', function(e) {
                    e.target.openPopup();
                })
                .addTo(map);

            if (!services.includes(coordinates[key][i]['lineRef'])) {
                services.push(coordinates[key][i]['lineRef']); // Add operator to the array
            }
        }
    }
    
    services.sort();
    
    L.control.tagFilterButton({
        data: services,
        icon: '<i class="fa fa-bus"></i>',
        filterOnEveryClick: true
    }).addTo( map );
    </script>
