<div id="map"></div>

<script>
    var coordinates = {{ site.data.bus_objects | jsonify }};
    var metro_stops = {{ site.data.metro_stops | jsonify }};
    var metro_arrivals = {{ site.data.metro_arrivals | jsonify }};

    var map = L.map('map').setView([52.45033122641582, -1.930996616069787], 14);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    map.locate({setView: true, maxZoom: 14});

    function onLocationFound(e) {
        var radius = e.accuracy / 2;
        L.circle(e.latlng, radius).addTo(map);
    }

    map.on('locationfound', onLocationFound);

    function onLocationError(e) {
        console.log(e.message);
    }

    map.on('locationerror', onLocationError);

    var date_now = new Date();
    

    // Add markers for each item in coordinates
    var services = []; // Initialize an array to store string values for all operators
    for (var key in metro_stops) {
        var arrivals = [];
        var arrivals_shim = [];

        for (var i = 0; i < metro_arrivals.length; i++) {
            if (metro_arrivals[i]['NaptanId'] === metro_stops[key]['Id']) {
                arrival_time = new Date(metro_arrivals[i]['ExpectedArrival']);
                mins_remaining = Math.floor((arrival_time - date_now) / 1000 / 60);
                arrivals_shim.push(
                    {
                        'DestinationName': metro_arrivals[i]['DestinationName'].replaceAll(' (Midland Metro Stop)', ''),
                        'MinsRemaining': mins_remaining
                    }
                );
            }
        }

        arrivals_shim.sort((a, b) => (a.MinsRemaining > b.MinsRemaining) ? 1 : -1);

        for (var i = 0; i < arrivals_shim.length; i++) {
            arrivals.push(`<li>${arrivals_shim[i]['DestinationName']} - ${arrivals_shim[i]['MinsRemaining']} mins</li>`);
        }

        arrivals = arrivals.slice(0, 4);

        const ARRIVALS_STRING = arrivals.join('');

        const POPUP_STRING = `
            <div class="metro-stop-popup">
                <b>${metro_stops[key]['CommonName']}</b>
                <br>
                <b>Stop letter:</b> ${metro_stops[key]['StopLetter']}
                <br>
                <ul>
                    ${ARRIVALS_STRING}
                </ul>
            </div>
        `;

        var marker = L.marker(
            [metro_stops[key]['Lat'], metro_stops[key]['Lon']],
            {
                icon: L.divIcon({
                    className: 'metro-stop',
                    html: `<div>${metro_stops[key]["StopLetter"].slice(-1)}</div>`
                })
            })
            .bindPopup(POPUP_STRING)
            .on('click', function(e) {
                e.target.openPopup();
            })
            .addTo(map);
    }

    for (var key in coordinates) {
        for (var i = 0; i < coordinates[key].length; i++) {
            var date_bus = new Date(coordinates[key][i]['recordedAtTime']);
            

            const TIME_DIFF = date_now - date_bus

            const POPUP_STRING = `
                Operator: ${coordinates[key][i]['operatorRef']}
                <br>
                Service: ${coordinates[key][i]['lineRef']}
                <br>
                Vehicle: ${coordinates[key][i]['vehicleRef']}
                <br>
                Origin: ${coordinates[key][i]['originName'].replaceAll('_', ' ')}
                <br>
                Destination: ${coordinates[key][i]['destinationName'].replaceAll('_', ' ')}
                <br>
                Recorded at: ${date_bus.toLocaleTimeString()}
            `;

            // Create a custom div icon with the service number
            var customIcon = L.divIcon({
                className: 'custom-icon',
                html: `<div class="bus-icon" style="background-color: ${coordinates[key][i]['directionRef'] === 'INBOUND' ? '#2ecc71' : '#f1c40f'}; ${coordinates[key][i]['directionRef'] === 'OUTBOUND' ? 'border-style: dotted;' : '' } ${TIME_DIFF < 1*60*1000 ? 'text-decoration: underline;' : ''} ${TIME_DIFF > 3*60*1000 ? 'opacity: 0.3;' : ''} ${TIME_DIFF > 5*60*1000 ? 'opacity: 0.1;' : ''} ${TIME_DIFF > 10*60*1000 ? 'opacity: 0.05;' : ''}">
                        <b>
                            ${coordinates[key][i]['publishedLineName']}
                        </b>
                    </div>`
            });

            var marker = L.marker(
                [coordinates[key][i]['vehicleLocation'].latitude, coordinates[key][i]['vehicleLocation'].longitude],
                {
                    icon: customIcon,
                    tags: [coordinates[key][i]['lineRef']]
                })
                .bindPopup(POPUP_STRING)
                .on('click', function(e) {
                    e.target.openPopup();
                })
                .addTo(map);

            if (!services.includes(coordinates[key][i]['lineRef'])) {
                services.push(coordinates[key][i]['lineRef']); // Add operator to the array
            }
        }
    }
    
    services.sort();
    
    L.control.tagFilterButton({
        data: services,
        icon: '<i class="fa fa-bus"></i>',
        filterOnEveryClick: true
    }).addTo( map );
    </script>
