<!DOCTYPE html>
<html>
<head>
    <title>open_bus</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: sans-serif;
        } 
        html, body {
            height: 100%;
            width: 100vw;
        }
        #map {
            height: 95vh;
            width: 100vw;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-tag-filter-button@0.0.5/src/leaflet-tag-filter-button.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-tag-filter-button@0.0.5/src/leaflet-tag-filter-button.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>    
    <div id="map-container">
        <!-- Include the map.html file here -->
        <!-- BEGIN: /Users/kieran/Documents/tfwm-api-tests/site/_layouts/map.html -->
        {% include map.html %}
        <!-- END: /Users/kieran/Documents/tfwm-api-tests/site/_layouts/map.html -->
    </div>
    <p>Last updated: {{ site.time | date: "%H:%M:%S - %d %B %Y" }} COMMIT_SHA</p>
</body>
</html>
